/*
 *
 * General CViTjs config
 *
 */

html{
	font-size: 16px;
}
/*
body{
	margin: 0 5%;
}
*/
#title-div{
/*
 * display:none; 
 */
}	
#cvit-div{
  padding: 2em 0 0 0;
}
.cvit{
  clear:both;
}


/*
 *
 * Button configuration
 *
 */

#tool-btn {
  position: absolute;
  top: 75px;
  left: 10px;
}

#tool-bar {
  position: relative;
  top: 54px;
  left: 10px;

}
.color-sel {
  height:22px;
  width: 22px;
  }

#viewButton{
 /*
  * display:none;
  */
}


/*
 *
 * Menu modal configuration
 *
 */

.menu-modal{
width:50em;
}

.modal-container {
width:inherit;
}
