/**
 * General CViTjs config
 * #cvit-app is the wrapper div for the entire
 * cvit application
 */

#cvit-app {
    max-width: 85%;
}

/**
 * cvit-header is the import/export/help menu
 * display : none to hide
 */

#cvit-header {
    background: #666;
}

#cvit-header .head-item {
    padding: 1rem 0 1rem 0;
    text-align: center;
    color: white;
}

#cvit-header .head-item:hover {
    background-color: #111111;
}

#cvit-header .active {
    background-color: darkseagreen;
}

/**
 * cvit-main shows the canvas or modal menus
 * the core of cvit-js
 */

#cvit-main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: auto;
}

/**
 * cvit-canvas is the keystone feature of cvit-js.
 * in addition to being configured here, height,width, and background
 * color may be configured in cvit.conf
 * as height, width and canvasColor.
 * is is suggested width is only changed as a last resort.
 */

#cvit-canvas {
    background: #fff;
}

/**
 * cvit-modal is the class for all menu modal windows
 */
.cvit-modal {
    overflow: hidden;
}

.cvit-modal input {
    width: auto;
}

.cvit-modal td {
    border: none;
}

.cvit-modal .modal-confirm {
    margin: auto;
}

.cvit-modal p {
    width: 50%
}

#cvit-footer {
    background: #666;
    text-align: center;
    font-size: 1.5rem;
    color:white;
}

#cvit-footer #toggle-title i{
    font-size:1.5rem;
    margin: 0 2rem 0 2rem;
    color: white;
    position:relative;
    top: 0.25rem;
    transition: all 0.2s ease;
}

#cvit-footer .collapsible {
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}
#cvit-footer .content {
    background: #ffffff;
    overflow-y: auto;
    transition: max-height 0.2s ease-in-out;
    color:black;

}

#cvit-footer .content td {
    border: none;
    width: 7rem;
    padding: 1rem 0 1rem 1rem;
}

#cvit-footer .control-head{
    text-align: center;
}

#cvit-footer .content table {
    margin-left:auto;
    margin-right:auto;
}



.group-toggle {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.group-toggle-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.group-toggle-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.group-toggle-inner:before, .group-toggle-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 16px;
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.group-toggle-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #D4D4D4; color: #FFFFFF;
}
.group-toggle-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #D4D4D4;
    text-align: right;
}
.group-toggle-switch {
    display: block; width: 30px; margin: 0px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    transition: all 0.3s ease-in 0s;
}
.group-toggle-checkbox:checked + .group-toggle-label .group-toggle-inner {
    margin-left: 0;
}
.group-toggle-checkbox:checked + .group-toggle-label .group-toggle-switch {
    right: 0px;
    background-color: #8FBC8F;
}

.group-toggle-checkbox {
    display: none;
}
.container input[type='checkbox']{
    display: none;
}
