/**
 *
 * General CViTjs config
 * #cvit-app is the wrapper div for the entire
 * cvit application
 */

#cvit-app {
    max-width: 85%;
}


/**
 * cvit-header is the import/export/help menu
 * display : none to hide
 */

#cvit-header{
    background: #666;
}

#cvit-header .head-item{
    padding: 1rem 0 1rem 0;
    text-align: center;
    color: white;
}

#cvit-header .head-item:hover{
    background-color: #111111;
}

#cvit-header .active {
    background-color: darkseagreen;
}

/**
 * cvit-main shows the canvas or modal menus
 * the core of cvit-js
 */

#cvit-main{
    margin-bottom:10px;
    overflow-x: auto;
}

/**
 * cvit-modal is the class for all menu modal windows
 */
.cvit-modal {
    overflow : hidden;
}
.cvit-modal input{
    width: auto;
}

.cvit-modal td{
    border:none;
}

.cvit-modal .modal-confirm{
    margin:auto;
}

.cvit-modal p{
    width: 50%
}