/*
    General CViTjs config
    #cvit-app is the wrapper div for the entire
    cvit application
*/

#selector-app {
    max-width: 85%;
}

.display-options {
    transition: all .1s ease-in-out;
    margin-bottom: .5rem;
    z-index: 1000;
}



.help-text {
    transition: max-height .1s ease-in-out;
    overflow-y: auto;
    margin: 0 1rem 0 1rem;
}

p{
    margin-top: 1rem;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(0deg);
    transition: transform .2s ease-out;
}

.arrow-down.rotate {
    transform: rotate(180deg);
}


.genotype-field {
    border-width: 1px;
    border-style: solid;
    border-color: dimgrey;
    padding: 0.5em 1em;
}


.select__value-container{
    height: 2rem;
    min-height: 2rem;
    max-height: 2rem;
}

.select__input{
    max-height: 1rem;
}

.git-option{
    margin-top:.25rem;
    margin-bottom: 1.25rem;
}

.genotype-select {
    width: 100%;
    padding-bottom: 0.5rem;
}


legend {
    margin: 0.5em;
    text-align: left;
}

.fake-button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #888;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;
}

.remove-genotype {
    margin-top: 2em;
    text-align: center;
}

.filter-drop{
}

/*.modal-contents {*/
/*    max-width: 95%;*/
/*    width: 95%;*/
/*}*/

.modal-Section {
    height: 90%;
}

h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-area{
    height: 100%;
    overflow: hidden;
}

.modal-content{
    overflow: hidden;
    position: fixed;
    top: 4em;
    left: 4em;
    right: 4em;
    bottom: 9em;
}

.modal-contents {
    overflow-y: auto;
    position: fixed;
    top: 11em;
    left: 4em;
    right: 4em;
    bottom: 9em;
}

.modal-close {
    position: fixed;
    bottom: 4em;
}
